/* General CSS (styling remains the same for the most part) */
#mixtapeGrid {
    display: none;
}

.songs_div .grid-item {
    position: relative;
    overflow: hidden;
    background-color: #34495e;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.songs_div .grid-item p {
    margin-top: 15px;
    font-size: 1rem;
    font-weight: 500;
    color: #ddd;
}

.songs_div .grid-item p a {
    color: #f1c40f;
    font-weight: bold;
    text-decoration: none;
}

.songs_div .grid-item p a:hover {
    color: #d35400;
}
